.DS_Store
build
*/build
bin
gen
local.properties
license.properties
.gradle
.idea/libraries
*.iml
.idea
*~
*/keystore
*/signature.asc
*/*.p12
*/play-api-key.json
custom-versions/*
cyclestreets-api.key
