# Use container-based Travis, with the Trusty image.
# See https://docs.travis-ci.com/user/reference/overview/ and https://docs.travis-ci.com/user/reference/trusty/
sudo: false
dist: trusty

# Get the full commit history (required to derive our version code, see the root build.gradle)
git:
  depth: false

language: android
jdk:
  - oraclejdk8
env:
  global:
    # Remember to keep these four values in sync with config.properties
    - compileSdkVersion=26
    - minSdkVersion=23
    - targetSdkVersion=26
    - toolsVersion=27.0.3

    # For the decryption of secrets needed to sign and publish our artifacts
    - secure: "LipL0wPv0uQrKitaeGxCpoQsx5sl/Pg/DtQv4S7Bi52DxfArgvD2hPB0TWgkgYGJPfENHLEyqg+H+/v2nON3IXY+cnsd+TW+P1T03/52D56ieSKGVtVtSYUOZUgoyxIIvRZWFh/UNg+AmZIjOCTJDLitBTUxD8kWux8NjhIqZow="
android:
  components:
    # Android tools - it's deliberate that `tools` is in there twice, see https://docs.travis-ci.com/user/languages/android/#Installing-a-newer-SDK-Platform-Tools-revision
    - tools  # to download the latest listing of what's available to download
    - platform-tools
    - tools  # to install up-to-date Android SDK tools
    - build-tools-${toolsVersion}

    # SDK versions
    - android-${compileSdkVersion}

before_install:
  - ./ciLicense.sh

install:
  - ./gradlew build

script:
  - ./ciPublish.sh
