<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.cyclestreets"
      android:versionCode="5"
      android:versionName="1.0.4"
      android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application android:icon="@drawable/icon" 
    			 android:label="@string/app_name"
    			 android:name="CycleStreetsApp">
        <activity android:name=".CycleStreets"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ItineraryActivity"
				  android:label="CycleStreets : Itinerary">
		</activity>
		<activity android:name=".PhotomapActivity"
				  android:label="CycleStreets : Photomap">
		</activity>
		<activity android:name=".MoreActivity"
				  android:label="CycleStreets : More ...">
		</activity>
		<activity android:name=".DisplayPhotoActivity"
				  android:label="@string/app_name"
				  android:theme="@style/Theme.Photo">
		</activity>
		<activity android:name=".StoredRoutesActivity"
				  android:label="@string/app_name"
				  android:theme="@style/Theme.Menu">
		</activity>
		<activity android:name=".AddPhotoActivity"
				  android:label="CycleStreets : Upload Photo">
		</activity>
		<activity android:name=".SettingsActivity"
		          android:label="CycleStreets : Settings">
		</activity>
		<activity android:name=".AboutActivity"
				  android:label="CycleStreets : About">
		</activity>
    	<activity android:name=".RouteMapActivity"  
    			  android:label="CycleStreets: Route Map">
        </activity>
        <activity android:name=".FindPlaceActivity"
        		  android:label="@string/app_name"
        		  android:theme="@style/Theme.RouteInputDialog">
        </activity>
        <activity android:name=".AccountDetailsActivity"
        		  android:label="CycleStreets : Account Details">
        </activity>
        <activity android:name=".FeedbackActivity"
        		  android:label="CycleStreets : Route Comments"/>
    	<activity android:name=".RouteByAddressActivity" 
		    	  android:theme="@style/Theme.RouteInputDialog">
        </activity>
        <activity android:name=".RouteNumberActivity" 
                  android:theme="@style/Theme.RouteInputDialog">
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="7" />
</manifest>
