<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.cyclestreets"
      android:versionCode="1"
      android:versionName="1.0">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />
		<meta-data android:name="CLOUDMADE_KEY" android:value="13ed67dfecf44b5a8d9dc3ec49268ba0" />
        <activity android:name=".CycleStreets"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".PlanRouteActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".ItineraryActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".PhotomapActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".AddPhotoActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".MoreActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".SettingsActivity"
		          android:label="@string/app_name">
		</activity>
    </application>
    <uses-sdk android:minSdkVersion="3" />
</manifest>