<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.cyclestreets"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application android:icon="@drawable/icon" 
    			 android:label="@string/app_name"
    			 android:name="CycleStreetsApp"
    			 android:debuggable="true">
        <meta-data android:name="CLOUDMADE_KEY" android:value="BC9A493B41014CAABB98F0471D759707" />
        <activity android:name=".CycleStreets"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ItineraryActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".PhotomapActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".MoreActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".DisplayPhotoActivity"
				  android:label="@string/app_name"
				  android:theme="@style/Theme.Photo">
		</activity>
		<activity android:name=".StoredRoutesActivity"
				  android:label="@string/app_name"
				  android:theme="@style/Theme.Menu">
		</activity>
		<activity android:name=".AddPhotoActivity"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".SettingsActivity"
		          android:label="@string/app_name">
		</activity>
		<activity android:name=".HtmlActivity"
				  android:label="@string/app_name">
		</activity>
    	<activity android:name=".RouteMapActivity"  
    			  android:label="@string/app_name">
        </activity>
        <activity android:name=".FindPlaceActivity"
        		  android:label="@string/app_name"
        		  android:theme="@style/Theme.RouteInputDialog">
        </activity>
        <activity android:name=".AccountDetailsActivity"
        		  android:label="@string/app_name">
        </activity>
    	<activity android:name="uk.org.invisibility.cycloid.RouteActivity" 
    		android:icon="@drawable/icon" 
    		android:label="Cycloid" 
    		android:theme="@style/Theme.RouteInputDialog">
        </activity>
        <activity android:name="uk.org.invisibility.cycloid.GeoActivity" 
        	android:icon="@drawable/icon" 
        	android:label="Cycloid" 
        	android:theme="@android:style/Theme.NoDisplay">
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="7" />
</manifest>