<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.cyclestreets.view">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

  <application>
    <activity android:name="net.cyclestreets.AccountDetailsActivity"
              android:label="Account Details"
              android:windowSoftInputMode="stateVisible|adjustResize"/>
    <activity android:name="net.cyclestreets.FeedbackActivity"
              android:label="Route Comments"
              android:windowSoftInputMode="stateVisible|adjustResize"/>
    <activity android:name="net.cyclestreets.LiveRideActivity"
              android:label="LiveRide"
              android:launchMode="singleTop"
              android:screenOrientation="portrait"/>
    <activity android:name="net.cyclestreets.PhotoUploadActivity"
              android:label="@string/app_name"/>

    <service android:name="net.cyclestreets.liveride.LiveRideService"/>
  </application>
</manifest>
