<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="net.cyclestreets"
  android:installLocation="preferExternal">

  <uses-permission android:name="android.permission.READ_CONTACTS"/>

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:name=".CycleStreetsApp"
    android:appCategory="maps">
    <activity
      android:name=".CycleStreets"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http"
              android:host="cycle.st"
              android:pathPrefix="/j" />
        <data android:scheme="http"
              android:host="cyclestreets.net"
              android:pathPrefix="/journey/" />
        <data android:scheme="http"
              android:host="www.cyclestreets.net"
              android:pathPrefix="/journey/" />
        <data android:scheme="http"
              android:host="m.cyclestreets.net"
              android:pathPrefix="/journey/" />
      </intent-filter>
    </activity>
    <activity android:name="net.cyclestreets.AccountDetailsActivity"
              android:label="Account Details"
              android:exported="true">
      <intent-filter>
        <action android:name="net.cyclestreets.AccountDetailsActivity" />
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="net.cyclestreets.AboutActivity"
              android:label="About">
      <intent-filter>
        <action android:name="net.cyclestreets.AboutActivity" />
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="net.cyclestreets.LocationsActivity"
              android:label="Locations">
      <intent-filter>
        <action android:name="net.cyclestreets.LocationsActivity" />
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <!-- ACRA support -->
    <activity android:name="org.acra.CrashReportDialog"
              android:theme="@android:style/Theme.Dialog"
              android:launchMode="singleInstance"
              android:excludeFromRecents="true"
              android:finishOnTaskLaunch="true" />

    <meta-data android:name="CycleStreetsAPIKey" android:value="b26a0d6b45e00612" />
  </application>
</manifest>
